* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: red;
  --primary-overlay: rgba(255, 0, 0, 0.493);
  --dark-overlay: #0000008a;
  --dark: #161616;
  --light: #f0f0f0;
}

header {
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  color: var(--light);
  z-index: 1;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(60deg, rgba(0, 0, 0, 0.5) 20%, var(--dark)), url('../img/bg2.webp');
  height: 100vh;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--light);
  padding: 50px;
  max-width: 700px;
}

.hero-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: var(--light);
  text-shadow: 0 0 5px var(--dark);
  border-radius: 40px;
  text-decoration: none;
  background: linear-gradient(20deg, lime, limegreen, forestgreen);
  font-weight: bold;
  max-width: 700px;
}

.hero-cta i {
  margin-right: 10px;
}

.hero-photo {
  display: flex;
  align-items: end;
  justify-content: start;
  height: 100%;
}

.hero-photo img {
  max-height: 500px;
}

.services-section {
  background: linear-gradient(to bottom, var(--dark-overlay), rgba(0, 0, 0, 0)), url('../img/motocycles/honda-capa.jpg');
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
  color: var(--light);
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  border-radius: 30px;
  box-shadow: 0 0 5px var(--light);
  backdrop-filter: blur(5px);
  color: var(--light);
  transition: ease 0.5s;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px var(--light);
}

.feature-card h3 {
  font-size: 1.2em;
}

.feature-icon {
  margin: 10px;
  color: var(--primary);
  text-shadow: 0 0 10px var(--light);
  font-size: 2.5em;
}

.consorcio-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  background: linear-gradient(45deg, rgb(70, 0, 0), rgba(0,0,0,0.5)), url('../img/consorcio-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  flex-wrap: wrap;
}

.consorcio-img {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.consorcio-img img {
  max-width: 100%;
  border-radius: 12px;
}

.consorcio-content {
  flex: 1;
  min-width: 300px;
}

.consorcio-content h2 {
  font-size: 2.2rem;
  color: #c20000;
  margin-bottom: 20px;
}

.consorcio-content p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: var(--light);
  margin-bottom: 20px;
}

.consorcio-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.consorcio-content li {
  font-size: 1rem;
  color: var(--light);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.consorcio-content li i{
  margin: 5px;
  font-size: 1.2em;
}

.consorcio-cta {
  background: #c20000;
  color: #fff;
  padding: 14px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.consorcio-cta:hover {
  background: #a00000;
}

.financiamento-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  background: linear-gradient(45deg, rgb(0, 1, 37), rgba(0,0,0,0)), url('../img/financiamento-bg.png');
  background-position: right;
  flex-wrap: wrap;
}

.financiamento-content {
  flex: 1;
  min-width: 300px;
  margin-right: 40px;
}

.financiamento-content h2 {
  font-size: 2.2rem;
  color: #2828ff;
  margin-bottom: 20px;
}

.financiamento-content p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: var(--light);
  margin-bottom: 20px;
}

.financiamento-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.financiamento-content li {
  font-size: 1rem;
  color: var(--light);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.financiamento-content li i{
  margin: 5px;
  font-size: 1.2em;
}

.financiamento-cta {
  background: #2828ff;
  color: #fff;
  padding: 14px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.financiamento-cta:hover {
  background: #2828ff;
}

.financiamento-img {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.financiamento-img img {
  max-width: 100%;
  border-radius: 12px;
}

.motos-section{
  background-color: black;
}

.motos-section h2{
  color: var(--light);
}

.moto-card {
  padding: 10px;
  box-shadow: 0 0 5px var(--light);
  background: linear-gradient(to bottom, white, black);
  border-radius: 30px;  
  color: var(--light);
}

.moto-info a {
  display: block;
  text-decoration: none;
  background: linear-gradient(60deg, limegreen, forestgreen);
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  color: var(--light);
  text-shadow: 0 0 5px var(--dark);
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 0 5px var(--dark-overlay);
  transition: ease 0.5s;
}

.moto-info a:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px black;
}

.entregas-section {
  background-color: var(--dark);
  padding: 20px;
  color: var(--light);
}

#carouselEntregas .carousel-item img {
  width: 100%;
  height: 600px;
  object-fit: contain;
}

#zap-icon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 60px;
  width: 60px;
}

@media screen and (max-width: 768px) {
  .links-box {
    display: none;
  }

  .hero {
    position: relative;
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .hero-text {
    padding: 20px;
  }

  .hero-photo img {
    height: 400px;
  }

  .hero-cta {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
  }

  .consorcio-section{
    background-position: right;
  }

  .financiamento-section{
    background-position: center right;
  }

  .feature-card{
    backdrop-filter: blur(4px);
  }

  .services-section{
    background-image: url('../img/motocycles/mobile-background.webp');
    background-size: cover;
  }
}